name: _node-setup

on:
  workflow_call:
    inputs:
      node_version:
        type: string
        required: false
        default: "20"
      workdir:
        type: string
        required: false
        default: "."
      npm_registry:
        type: string
        required: false
        default: ""
      npm_scope:
        type: string
        required: false
        default: ""
      install_command:
        type: string
        required: false
        default: "npm ci --prefer-offline"
      fetch_depth:
        type: number
        required: false
        default: 0

permissions:
  contents: read

jobs:
  node-setup:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: ${{ inputs.fetch_depth }}

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node_version }}
          cache: npm
          cache-dependency-path: ${{ inputs.workdir }}/package-lock.json
          registry-url: ${{ inputs.npm_registry }}
          scope: ${{ inputs.npm_scope }}

      - name: Install
        run: ${{ inputs.install_command }}
