name: build

on:
  workflow_call:
    inputs:
      node_version:
        type: string
        required: false
        default: "20"
      workdir:
        type: string
        required: false
        default: "."
      install_command:
        type: string
        required: false
        default: "npm ci --prefer-offline"
      build_command:
        type: string
        required: false
        default: "npm run build"
      iife_command:
        type: string
        required: false
        default: ""
      upload_artifacts:
        type: boolean
        required: false
        default: false
      artifact_name:
        type: string
        required: false
        default: false

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.workdir }}

    steps:
      - name: Node setup
        uses: wesflo/gh-actions-workflows/.github/actions/_node-setup@main
        with:
          node_version: ${{ inputs.node_version }}
          workdir: ${{ inputs.workdir }}
          fetch_depth: ${{ inputs.fetch_depth }}

      - name: Build
        run: ${{ inputs.build_command }}

      - name: Upload artifacts
        if: ${{ inputs.upload_artifacts }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.artifact_name != '' && inputs.artifact_name || format('build-output-{0}', github.job) }}
          path: |
            ${{ inputs.workdir }}/dist
            ${{ inputs.workdir }}/dist-iife
