name: Prettify

on:
  workflow_call:
    inputs:
      node_version:
        type: string
        required: false
        default: "20"
      install_cmd:
        type: string
        required: false
        default: "npm ci --prefer-offline"
      workdir:
        type: string
        required: false
        default: "."
      npm_scope:
        type: string
        required: true
      npm_registry:
        type: string
        required: true
      prettier_cmd:
        type: string
        required: false
        default: "npm run prettier"

permissions:
  contents: write

jobs:
  prettier:
    runs-on: ubuntu-latest
    if: >-
      ${{
        github.actor != 'github-actions[bot]' &&
        !contains(github.event.head_commit.message, 'chore(release):') &&
        !contains(github.event.head_commit.message, 'chore(prettify):')
      }}
    defaults:
      run:
        working-directory: ${{ inputs.workdir }}

    steps:
      - name: Node setup
        uses: ./.github/actions/_node-setup@main
        with:
          node_version: ${{ inputs.node_version }}
          workdir: ${{ inputs.workdir }}
          fetch_depth: "0"
          npm_registry: ${{ inputs.npm_registry }}
          npm_scope: ${{ inputs.npm_scope }}

      - name: Install deps
        run: ${{ inputs.install_cmd }}

      - name: Run prettier
        run: ${{ inputs.prettier_cmd }}

      - name: Commit and push if changed
        shell: bash
        run: |
          if [ -z "$(git status --porcelain)" ]; then
            echo "No formatting changes."
            exit 0
          fi

          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add -A
          git commit -m "chore(prettify): format"
          git push
