name: Relase NPM Bundle and IIFE
on:
  workflow_call:
    inputs:
      workdir:
        type: string
        required: false
        default: "."
      node_version:
        type: string
        required: false
        default: "20"
      aws_region:
        type: string
        required: false
        default: "eu-central-1"

      preprod_bucket:
        type: string
        required: false
        default: "wesflo-preprod-demo"
      prod_bucket:
        type: string
        required: false
        default: "wesflo-prod-demo"

      npm_scope:
        type: string
        required: false
        default: "@wesflo"
      npm_registry:
        type: string
        required: false
        default: "https://npm.pkg.github.com"

      # Environment-Namen für Gates
      env_preprod:
        type: string
        required: false
        default: "preprod"
      env_release:
        type: string
        required: false
        default: "release"
      env_prod_rollout:
        type: string
        required: false
        default: "prod-rollout"

    secrets:
      NODE_AUTH_TOKEN:
        required: true
      AWS_ROLE_ARN_PREPROD:
        required: true
      AWS_ROLE_ARN_PROD:
        required: true
      # Optional später:
      # RELEASE_API_URL:
      #   required: false
      # RELEASE_API_TOKEN:
      #   required: false

permissions:
  contents: write

concurrency:
  group: release-${{ github.repository }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  test:
    name: Unit Tests
    if: >-
      ${{
        github.actor != 'github-actions[bot]' &&
        !contains(github.event.head_commit.message, 'chore(release):') &&
        !contains(github.event.head_commit.message, 'chore(prettify):')
      }}
    uses: ./.github/workflows/test.yml
    with:
      workdir: ${{ inputs.workdir }}
      node_version: ${{ inputs.node_version }}
      test_cmd: "npm run test:c"

  build-package:
    name: Build NPM Package
    uses: ./.github/workflows/build-package.yml
    with:
      workdir: ${{ inputs.workdir }}
      node_version: ${{ inputs.node_version }}
      build_cmd: "npm run build"
      npm_scope: ${{ inputs.npm_scope }}
      npm_registry: ${{ inputs.npm_registry }}

  publish:
    name: Publish to Registry
    needs: [test, build-package]
    uses: ./.github/workflows/publish.yml
    with:
      workdir: ${{ inputs.workdir }}
      node_version: ${{ inputs.node_version }}
      npm_scope: ${{ inputs.npm_scope }}
      npm_registry: ${{ inputs.npm_registry }}
    secrets:
      NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}