name: test-coverage

on:
  workflow_call:
    inputs:
      node_version:
        type: string
        required: false
        default: "20"
      workdir:
        type: string
        required: false
        default: "."
      install_command:
        type: string
        required: false
        default: "npm ci --prefer-offline"
      test_command:
        type: string
        required: false
        default: "npm run test:c"
      fetch_depth:
        type: number
        required: false
        default: 0

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.workdir }}

    steps:
      - name: Node Setup
        uses: wesflo/gh-actions-workflows/.github/workflows/_node-setup.yml@main
        with:
          node_version: ${{ inputs.node_version }}
          workdir: ${{ inputs.workdir }}
          install_command: ${{ inputs.install_command }}
          fetch_depth: ${{ inputs.fetch_depth }}

      - name: Test (coverage)
        run: ${{ inputs.test_command }}
