name: test-coverage

on:
  workflow_call:
    inputs:
      node_version:
        type: string
        required: false
        default: "20"
      workdir:
        type: string
        required: false
        default: "."
      install_cmd:
        type: string
        required: false
        default: "npm ci --prefer-offline"
      test_cmd:
        type: string
        required: false
        default: "npm run test:c"

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'github-actions[bot]' && !contains(github.event.head_commit.message, 'chore(release):') && !contains(github.event.head_commit.message, 'prettify[bot]') }}
    defaults:
      run:
        working-directory: ${{ inputs.workdir }}

    steps:
      - name: Node setup
        uses: wesflo/gh-actions-workflows/.github/actions/_node-setup@main
        with:
          node_version: ${{ inputs.node_version }}
          workdir: ${{ inputs.workdir }}

      - name: Test (coverage)
        run: ${{ inputs.test_cmd }}
