name: test-coverage

on:
  workflow_call:
    inputs:
      node_version:
        type: string
        required: false
        default: "20"
      workdir:
        type: string
        required: false
        default: "."
      install_command:
        type: string
        required: false
        default: "npm ci --prefer-offline"
      test_command:
        type: string
        required: false
        default: "npm run test:c"

permissions:
  contents: read

jobs:
  node-setup:
    uses: wesflo/gh-actions-workflows/.github/workflows/_node-setup@main
    with:
      node_version: ${{ inputs.node_version }}
      workdir: ${{ inputs.workdir }}

  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.workdir }}

    steps:
      - name: Test (coverage)
        run: ${{ inputs.test_command }}
